{% load static %}
{% load staticfiles %}
{% static "images/devices_types" as prepath %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>

<!-- <header class="header">

    <div class="header__logo"></div>
    <div class="header__name"></div>

</header> -->


<div class="screens">


    <!-- screen 1 -->
    <div class="screen screen-1">
        <h1 class="screen-1__title screen-1__title_main">Good Master</h1>
        <h2 class="screen-1__title screen-1__title_sub">Быстрый и качетсвенный ремонт техники Apple</h2>

        <div class="screen-1__buttons">
            <div id="" class="
                screen-1__button
                screen-1__button_сallback">
                Заказать звонок
            </div>
            <div id="calculate-cost" class="
                screen-1__button
                screen-1__button_сalculate-cost">
                Рассчитать стоимость
            </div>
        </div>
    </div>


    <!-- screen 2 -->
    <div class="screen screen-2" id="calculating">


        <div class="screen-2__step screen-2__step_1 screen-2__step_visible">
            <h3 class="screen-2__step-title">Выбери устройство</h3>
            <div class="screen-2__devices-types">
                {% for item in list %}
                    <div 
                        class="screen-2__device-type" 
                        device-type-btn="{{ item.type.id }}"
                    >
                        <div 
                            class="screen-2__device-type-img"
                            style="background-image: url('{{ prepath }}/{{ item.type }}.png')"
                            id="device__iphone"
                        ></div>
                        <div class="screen-2__device-type-name">
                            {{ item.type }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    
        <div class="screen-2__step screen-2__step_2">
            <h3 class="screen-2__step-title">Выбери модель</h3>

            {% for item in list %}
                <div   
                    class="screen-2__devices-names" 
                    device-type-id="{{ item.type.id }}"
                >
                    {% for device in item.models %}
                        <div 
                            class="screen-2__device-name" 
                            device-name-btn="{{ device.id }}"
                        >
                            {{ device.name }}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

        <div class="screen-2__step screen-2__step_3">
            <h3 class="screen-2__step-title">Что сломалось</h3>



            {% for item in list %}
                {% for device in item.models %}
                    <div 
                        class="screen-2__crashes-names"
                        device-name-id="{{ device.id }}" 
                    >
                        {% for crash in device.crashes %}
                            <div 
                                class="screen-2__crash screen-2__crash_selected"
                                device-crash-btn="{{ crash.id }}"
                            >
                                <div class="screen-2__crash-icon"></div>
                                <div class="screen-2__crash-name">
                                    {{ crash.name }}
                                    <span class="screen-2__crash-cost">
                                        {{ crash.cost }}₽
                                    </span>
                                </div>
                                <div class="screen-2__crash-check"></div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            {% endfor %}

            <p class="screen-2__order-description _selectable">
                Наш мастер перезвонит Вам в течение часа. Точная сумма заказа
                <span class="blue-text _selectable">9700 ₽</span>, ремонт займет не более 
                <span class="blue-text _selectable">45 минут</span>.
            </p>

            <div class="screen-2__crashes-selected button">Готово</div>
            
        </div>


        <div class="screen-2__map">
            <h3 class="screen-2__step-title">Где вы находитесь</h3>
            <div id="map"></div>
        </div>

        <div class="screen-2__order">
            <h3 class="screen-2__step-title">Контактные данные</h3>
            <div class="screen-2__order-form">


            <p class="screen-2__order-description _selectable">
                Наш мастер перезвонит Вам в течение часа. Точная сумма заказа
                <span class="blue-text _selectable">9700 ₽</span>, ремонт займет не более 
                <span class="blue-text _selectable">45 минут</span>.
            </p>


                <div class="text-input">
                    <label class="text-input__label" for="client-name">Как Вас зовут</label>
                    <input id="client-name" type="text" class="text-input__input">
                </div>


                <div class="text-input">
                    <label class="text-input__label" for="client-phone">Контактный телефон</label>
                    <input id="client-phone" type="text" class="text-input__input">
                </div>
            
                <div class="button button_blue">Вызвать мастера</div>
            </div>
        </div>


        

    </div>


    <div class="screen screen-3">
        {% for item in list %}
            {% for device in item.models %}
                {{ device.name }}
            {% endfor %}
        {% endfor %}
    </div>
    <div class="screen screen-4">
        {% for item in list %}
            {% for device in item.models %}
                {% for crash in device.crashes %}
                    {{ crash.name }}
                    {{ crash.id }}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </div>
    <div class="screen screen-5">
        <input type="text" id="test-name" placeholder="name">
        <input type="text" id="test-phone" placeholder="phone">
        <input type="text" id="test-addres" placeholder="address">
        <input type="text" id="test-crashes" placeholder="crash,crash">
        <div id="test-send">Send</div>
    </div>
</div>


<footer class="footer">
    {% csrf_token %}
</footer>


<div class="modal-window">Modal here</div>

<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>