{% load static %}
{% load staticfiles %}
{% static "images/devices_types" as prepath %}
<!DOCTYPE html>
<html lang="ru-RU">
<head>

    <meta http-equiv="Content-Type" content="type;" charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="{% static 'favicons/sharing.jpg' %}" rel="image_src">
    <meta property="vk:image" content="{% static 'favicons/sharing.jpg' %}">

    <meta property="og:url" content="https://goodmaster.moscow/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Good Master - дешевый ремонт техники Apple">
    <meta property="og:description" content="Выездной ремонт техники Apple. Дома, в офисе, в кафе. С 10:00 и до 22:00.">
    <meta property="og:image" content="{% static 'favicons/sharing.jpg' %}">
    <meta property="og:site_name" content="Good Master">
    <meta property="og:locale" content="ru_RU">
    <meta property="og:image:width" content="537">
    <meta property="og:image:height" content="240">

    <meta name="Description" content="Выездной ремонт техники Apple. Дома, в офисе, в кафе. С 10:00 и до 22:00.">
    <meta name="Keywords" content="Выездной ремонт Ремонт Айфон iPhone Apple Эпл Эппл Дешево Москва">

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicons/apple-touch-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicons/apple-touch-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicons/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicons/apple-touch-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicons/apple-touch-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicons/apple-touch-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicons/apple-touch-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicons/apple-touch-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="194x194" href="{% static 'favicons/favicon-194x194.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'favicons/android-chrome-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicons/manifest.json' %}">
    <link rel="mask-icon" href="{% static 'favicons/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="GoodMaster">
    <meta name="application-name" content="GoodMaster">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="{% static 'favicons/mstile-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <!-- favicons -->


    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="UTF-8">
    <title>Good Master</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">


    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter45389940 = new Ya.Metrika({
                        id:45389940,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true,
                        trackHash:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/45389940" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

</head>
<body>


<div class="screens">


    <!-- screen 1 -->
    <div class="screen screen-1" id="__screen-1__">
        <h1 class="screen-1__title screen-1__title_main">Good Master</h1>
        <h2 class="screen-1__title screen-1__title_sub">
            Выездной ремонт техники Apple. 
            <br>Дома, в офисе, в кафе. С 10:00 и до 22:00.
        </h2>

        <div class="screen-1__buttons">
            <div id="screen-1__calculate-cost" class="
                screen-1__button
                screen-1__button_сalculate-cost">
                Рассчитать стоимость
            </div>
            <div id="screen-1__request-call" class="
                screen-1__button
                screen-1__button_сallback">
                Заказать звонок
            </div>
        </div>

        <div class="screen-1__social">
            <a href="https://vk.com/gm_remont" class="screen-1__social-link" 
            id="screen-1__social-vk" 
            target="_blank"></a>
            <!-- <a href="" class="screen-1__social-link"
            id="screen-1__social-telegram"
            ></a> -->
            <a href="https://www.instagram.com/goodmaster.moscow/" class="screen-1__social-link"
            id="screen-1__social-instagram"
            target="_blank"
            ></a>
        </div>
    </div>


    <!-- screen 2 -->
    <div class="screen screen-2" id="calculating">


        <div id="screen-2__special-image-for-vovan">
            
        </div>

        <div class="screen-2__step screen-2__step_1 screen-2__step_visible" id="calc-step-1">
            <h3 class="screen-2__step-title">Выбери устройство</h3>
            <div class="screen-2__devices-types">
                {% for item in list %}
                    <div 
                        class="screen-2__device-type screen-2__device-type{{ item.active }}" 
                        device-type-btn="{{ item.type.id }}"
                    >
                        <div 
                            class="screen-2__device-type-img"
                            style="background-image: url('{{ prepath }}/{{ item.type }}.png')"
                        ></div>
                        <div class="screen-2__device-type-name">
                            {{ item.type }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    
        <div id="calc-step-2" class="screen-2__step screen-2__step_2">
            <h3 class="screen-2__step-title">Выбери модель</h3>

            {% for item in list %}
                <div   
                    class="screen-2__devices-names" 
                    device-type-id="{{ item.type.id }}"
                >
                    {% for device in item.models %}
                        <div 
                            class="screen-2__device-name" 
                            device-name-btn="{{ device.id }}"
                        >
                            {{ device.name }}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

        <div id="calc-step-3" class="screen-2__step screen-2__step_3">
            <h3 class="screen-2__step-title">Что беспокоит</h3>

            {% for item in list %}
                {% for device in item.models %}
                    <div 
                        class="screen-2__crashes-names"
                        device-name-id="{{ device.id }}" 
                    >
                        {% for crash in device.crashes %}
                            <div 
                                class="screen-2__crash"
                                device-crash-btn="{{ crash.id }}"
                                crash-cost="{{ crash.cost }}"
                                crash-time="{{ crash.time }}"
                            >
                                <div class="screen-2__crash-icon" style="background-image: url('../static/images/std-icon.svg');"></div>

                                <div class="screen-2__crash-icon_selected" style="background-image: url('../static/images/std-icon_white.svg');"></div>
                                <div 
                                class="screen-2__crash-name">
                                    {{ crash.name }}
                                    <span class="screen-2__crash-cost">
                                        {{ crash.cost }}₽
                                    </span>
                                </div>
                                <div class="screen-2__crash-check"></div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            {% endfor %}

            <p 
                select-param="device-crashes-desc"
                class="screen-2__order-description _selectable"
            >
                Наш мастер перезвонит Вам в течение часа. Точная сумма заказа
                <span 
                    class="blue-text _selectable" 
                    select-param="device-crash-cost">
                    9700₽
                </span>, ремонт займет не более чем
                <span 
                    class="blue-text _selectable"
                    select-param="device-crash-time"
                ></span>.
            </p>

            <div 
                class="button screen-2__button-calc-ready"
                select-param="device-selected-crashes-button"
            >
                Готово
            </div>

        </div>





        <div 
            class="screen-2__order"
            id="screen-2__order" 
            select-param="order-form"
        >
            <div 
            select-param="order-form-contacts"
            class="screen-2__order-container">
                <h3 class="screen-2__step-title">Контактные данные</h3>
                <div class="screen-2__order-form">

                    <div class="text-input">
                        <label class="text-input__label" for="client-name">Как Вас зовут</label>
                        <input id="client-name" type="text" class="text-input__input">
                    </div>


                    <div class="text-input">
                        <label class="text-input__label" for="client-phone">Контактный телефон</label>
                        <input id="client-phone" name="phone" type="tel" class="text-input__input">
                    </div>

                    <div class="checkbox screen-2__map-checkbox">
                        <div 
                        select-param="show-map-checkbox"
                        class="checkbox__checkbox"></div>
                        <label class="checkbox__label">Указать адрес на карте</label>
                    </div>
                
                    <div 
                    id="button_order" 
                    class="button button_blue">Вызвать мастера</div>
                </div>
            

        
            </div>

            <div id="map" class="screen-2__map-container"></div>
        </div>


    </div>


    <div class="screen screen-3">
        <h3 class="screen-3__title">Почему мы</h3>

        <div class="screen-3__advantages">
            <div class="screen-3__advantage">
                <div id="screen-3-advantage-logo-1" class="screen-3__advantage-logo"></div>
                <div class="screen-3__advantage-title">
                    Экономим Ваше время
                </div>
                <div class="screen-3__advantage-desc">
                    Наш мастер придет к Вам в кафе, офис и Вам не придется ехать в сервис
                </div>
            </div>
            <div class="screen-3__advantage">
                <div id="screen-3-advantage-logo-2" class="screen-3__advantage-logo"></div>
                <div class="screen-3__advantage-title">
                    Экономим Ваши деньги
                </div>
                <div class="screen-3__advantage-desc">
                    Мы стараемся сохарнять оптимальное соотношение цены и качества наших услуг
                </div>
            </div>
            <div class="screen-3__advantage">
                <div id="screen-3-advantage-logo-3" class="screen-3__advantage-logo"></div>
                <div class="screen-3__advantage-title">
                    Выбор деталей
                </div>
                <div class="screen-3__advantage-desc">
                    Вы всегда сможете выбрать оригинальные детали или их полные аналоги
                </div>
            </div>
            <div class="screen-3__advantage">
                <div id="screen-3-advantage-logo-4" class="screen-3__advantage-logo"></div>
                <div class="screen-3__advantage-title">
                    Гарантия качества
                </div>
                <div class="screen-3__advantage-desc">
                    Даем 1 месяц гарантии нашей работы
                </div>
            </div>
        </div>
    </div>
    <div class="screen screen-4">
        <h3 class="screen-4__title">Отзывы</h3>

        <div class="screen-4__comments">
            {% for feedback in feedbacks %}
            <!-- feedback elem    -->
            <div class="screen-4__feedback">
                <div class="screen-4__feedback-header">
                    <a 
                    href="https://google.ru" 
                    target="_blank"
                    class="screen-4__feedback-user-link" 
                    >
                        <span class="screen-4__feedback-user-avatar"
                        style="background-image: url('{{ feedback.user_avatar }}');"
                        ></span>
                        <span class="screen-4__feedback-user-name">{{ feedback.user_nickname }}</span>
                    </a>
                    <span class="screen-4__feedback-logo"></span>
                </div>
                <a href="{{ feedback.feedback_link }}" target="_blank" class="screen-4__feedback-post-link">
                    <img class="screen-4__feedback-photo" src="{{ feedback.feedback_image }}"/>
                </a>
                <div class="screen-4__feedback-footer">
                    <div class="screen-4__feedback-param">
                        <span class="screen-4__feedback-param-logo screen-4__feedback-param-logo_like"></span>
                        <span class="screen-4__feedback-param-text">{{ feedback.feedback_likes }}</span>
                    </div>
                    <div class="screen-4__feedback-param">
                        <span class="screen-4__feedback-param-logo
                        screen-4__feedback-param-logo_comment"></span>
                        <span class="screen-4__feedback-param-text">{{ feedback.feedback_comments }}</span>
                    </div>
                    <p class="screen-4__feedback-text">
                        {{ feedback.feedback_text }}
                    </p>
                </div>
            </div>
            <!-- feedback elem    -->
            {% endfor %}
            
        </div>
    </div>

    <div id="go-to-top-button"></div>
</div>


<footer class="footer">
    {% csrf_token %}
</footer>


<div class="modal-window" id="thanks-modal">
    <div class="modal-window__close-btn" onclick="UI.closeModal('thanks-modal')" >×</div>
    <div class="modal-window__main-title">Спасибо за заказ!</div>
    <div class="modal-window__content">Наш мастер перезвонит Вам в течение часа чтобы обсудить детали и договориться о встрече.</div>
    <div class="modal-window__btn" onclick="UI.closeModal('thanks-modal')" >Жду!</div>
</div>

<div class="modal-window" id="bad-modal">
    <div class="modal-window__close-btn" onclick="UI.closeModal('bad-modal')" >×</div>
    <div class="modal-window__main-title">Упс!</div>
    <div class="modal-window__content">
        Кажется что то пошло не так...
        <br>
        Обновите страницу или повторите попытку позже.
    </div>
    <div class="modal-window__btn" onclick="UI.closeModal('bad-modal')" >Ок</div>
</div>

<div class="modal-window" id="callback-modal">
    <div class="modal-window__close-btn" onclick="UI.closeModal('callback-modal')" >×</div>
    <div class="modal-window__main-title">Заказать<br>обратный звонок</div>
    <div class="modal-window__content">
        <div class="text-input">
            <label class="text-input__label" for="client-name-callback">Ваше имя</label>
            <input id="client-name-callback" type="text" class="text-input__input">
        </div>
        <div class="text-input">
            <label class="text-input__label" for="client-phone-callback">Номер телефона</label>
            <input id="client-phone-callback" type="text" class="text-input__input">
        </div>
    </div>
    <div class="modal-window__btn" onclick="UI.onOrder(true)">Перезвоните мне</div>
</div>

<div id="__global-loader__">
    <div id="__global-loader__wrap">
        <span id="__global-loader__text">Good Master</span>    
        <div id="__global-loader__loader"></div>
    </div>
</div>

{% if isLoggedIn %}
<meta name="sw" content="{% static 'js/service-worker.js' %}">
<link rel="manifest" href="{% static 'js/manifest.json' %}">
<script src="{% static 'js/firebase.js' %}"></script>
{% endif %}

<script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>
