.header{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 60px;
    background-color: rgba(0,0,0, .8);
}































