html, body{
    height: 100%;
    width: 100%;
}

.checkbox{
    display: block;
    position: relative;
    margin-bottom: 1.5rem;
    margin-left: 0;
    text-align: left;
}

.checkbox__checkbox{
    display: inline-block;
    position: relative;
    height: 2rem;
    width: 2rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
    cursor: pointer;
    transition: .2s background-image;
}

.checkbox__checkbox_active{
    background-color: #fff;
    border-color: #ccc;
    background-image: url('../icons/check-icon.svg');
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}

.checkbox__label{
    display: inline-block;
    position: relative;
    text-align: left;
    color: #444;
    font-size: 1rem;
    line-height: 2rem;
    margin-left: 1rem;
    vertical-align: top;
}

.button{
    display: none;
    height: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 2rem;
    font-size: 1rem;
    border-radius: .5rem;
    border: 1px solid #0070c9;
    color: #0070c9;
    font-weight: 100;
    cursor: pointer;
    transition: .2s background-color, .2s color;
    margin-top: 2rem;
}

.button:hover{
    background-color: #0070c9;
    color: #fff;
}

.button_visible{
    display: inline-block;;
}


.text-input{
    display: block;
    margin: 0 auto;
    width: 15rem;
    margin-bottom: 1.5rem; 
}

.text-input__input{
    display: block;
    border: 1px solid #ccc;
    width: 100%;
    border-radius: .5rem;
    height: 2rem;
    padding-left: 1rem;
    font-size: 1rem;
    background-color: transparent;
    line-height: 2rem;
    color: #222;
    transition: .2s border-color;
    /*background-color: #fff;*/
    /*box-shadow: 0 0 3rem rgba(0,0,0, .15);*/
}

.text-input__input:focus{
    border: 1px solid #0070c9;
    /*background-color: #000;*/
    /*color: #fff;*/
    /*box-shadow: none;*/
}

.text-input__input_error{
    border-color: red;
    background-color: rgba(255, 0, 0, .3);
}

.blue-text{
    color: #0070c9;
    font-size: inherit;
}

.text-input__label{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    color: #444;
    margin-bottom: .5rem;
}

.header{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 4rem;
    background-color: rgba(255,255,255, .9);
    border-bottom: 1px solid #ccc;
}

.screens{
    display: block;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    /*padding-top: 4rem;*/
}

.screen{
    display: block;
    position: relative;
    width: 100%;
    height: calc(100% - 0rem);
    background-color: #fff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


/*screen 1 */
.screen-1{
    background-image: url('../images/main-background.jpg');
}

.screen-1__title{
    display: block;
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.screen-1__title_main{
    top: calc(50% - 7rem);
    font-size: 7rem;
    font-weight: bold;
}

.screen-1__title_sub{
    top: calc(50% - 1rem);
    font-size: 1.1rem;
    font-weight: 100;
}



.screen-1__buttons{
    display: block;
    position: absolute;
    top: calc(50% + 4rem);
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: auto;
}



.screen-1__button{
    display: inline-block;
    position: relative;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    font-size: .8rem;
    background-color: transparent;
    /*border: 1px solid #333;*/
    color: #333;
    cursor: pointer;
    border-radius: .5rem;
    transition: .2s background-color, .2s transform;
    margin-right: 1rem;
    margin-right: 1rem;
    font-weight: normal;
    width: 10rem;


    background-color: #fff;
    box-shadow: 0 0 3rem rgba(0,0,0, .15);
}

.screen-1__button:hover {
    /*border: 1px solid #000;*/
    /*color: #fff;*/
    /*background-color: #000;*/
    transform: scale(1.03);
}

.screen-1__button:active {
    /*border: 1px solid #000;*/
    color: #fff;
    background-color: #000;
    box-shadow: none;
}


.screen-1__social{
    display: block;
    position: absolute;
    left: 50%;
    bottom: 5rem;
    transform: translateX(-50%);

}


.screen-1__social-link{
    display: inline-block;
    position: relative;
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
    border-radius: .5rem;
    margin-right: 1rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: .2s background-color;
    background-color: #fff;
    box-shadow: 0 0 3rem rgba(0,0,0, .15);
}

.screen-1__social-link:hover{
    background-color: #000;
}

#screen-1__social-vk{
    background-image: url('../images/social-icons/vk_black.svg');
    background-size: 65%;
}

#screen-1__social-vk:hover{
    background-image: url('../images/social-icons/vk_white.svg');
    background-size: 65%;
}


#screen-1__social-telegram{
    background-image: url('../images/social-icons/telegram_black.svg');
    background-size: 60%;
}

#screen-1__social-telegram:hover{
    background-image: url('../images/social-icons/telegram_white.svg');
    background-size: 60%;
}


#screen-1__social-instagram{
    background-image: url('../images/social-icons/instagram_black.svg');
    background-size: 60%;
}

#screen-1__social-instagram:hover{
    background-image: url('../images/social-icons/instagram_white.svg');
    background-size: 60%;
}


/*screen 2*/
.screen-2{
    background-color: #fff;
    height: auto;
    text-align: center;
    padding: 5rem 0;
    padding-bottom: 0;
    /*transition: .2s all;*/
    overflow: visible;
}

#screen-2__special-image-for-vovan{
    display: block;
    position: absolute;
    top: 32rem;
    /*top: 15rem;*/
    left: -5rem;
    height: 30rem;
    width: 30rem;
    z-index: 1;
    background-image: url('../images/iphone-gm.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


.screen-2__step,
.screen-2__order{
    display: none;
    position: relative;
    width: calc(100% - 10rem);
    margin: 0 auto 5rem auto;
    z-index: 100;
}

.screen-2__step_visible{
    display: block;
}

.screen-2__order{
    margin-bottom: 0;
}

.screen-2__step-title{
    display: block;
    position: relative;
    width: 100%;
    font-size: 2rem;
    text-align: center;
}

.screen-2__devices-types,
.screen-2__devices-names,
.screen-2__crashes-names,
.screen-2__order-form{
    display: inline-block;
    position: relative;
    margin: 2rem auto;
}

.screen-2__devices-names,
.screen-2__crashes-names{
    width: 50rem;
}

.screen-2__devices-names{
    margin-bottom: calc(2rem - 2rem);
}

.screen-2__devices-names{
    display: none;
}

.screen-2__devices-names_visible{
    display: inline-block;
}



.screen-2__crashes-names{
    display: none;
    text-align: center;
    width: 55rem;
    margin-bottom: calc(2rem - 2.5rem);
}

.screen-2__crashes-names_visible{
    display: inline-block;
}

.screen-2__devices-types{
    margin-bottom: 0;
}

.screen-2__order-form{
    margin-bottom: 5rem;
}

.screen-2__step_1{
    
}

.screen-2__step_2{
    margin-bottom: 3rem;
}

.screen-2__step_3{
    margin-bottom: 4rem;
}
.screen-2__step_4{
    margin-bottom: 4rem;
}



/*TYPES*/
.screen-2__device-type{
    display: inline-block;
    position: relative;
    width: 15rem;
    height: 20rem;
    margin-right: 3rem;
    /*border: 1px solid #ccc;*/
    border-radius: 1rem;
    background-color: transparent;
    cursor: pointer;
    transition: .2s background-color, .2s transform;
    overflow: hidden;
    float: left;

    box-shadow: 0 0 3rem rgba(0,0,0, .15);
    background-color: #fff;
}

.screen-2__device-type:last-of-type{
    margin-right: 0;
}

.screen-2__device-type:hover{
    background-color: #fff;
    transform: scale(1.03);
}

.screen-2__device-type-img{
    display: block;
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: calc(100% - 4rem);
    height: calc(100% - 7rem);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: .2s opacity;
    cursor: inherit;
}

.screen-2__device-type > .screen-2__device-type-img{
    opacity: .8;
}

.screen-2__device-type:hover > .screen-2__device-type-img{
    opacity: 1;
}

.screen-2__device-type-name{
    display: block;
    position: absolute;
    width: 100%;
    font-size: 1.3rem;
    bottom: 1.5rem;
    left: 0;
    text-align: center;
    font-weight: normal;
    cursor: inherit;
}

.screen-2__device-type_selected,
.screen-2__device-type_selected:hover {
    /*background-color: #f5f5f5;*/
    background-color: #000;
    color: #fff;
    transform: scale(1.03);
    box-shadow: none;
}

.screen-2__device-type_selected > .screen-2__device-type-img{
    opacity: 1;
}

.screen-2__device-type_selected > .screen-2__device-type-name{
    color: #fff;
}







/*NAMES*/
.screen-2__device-name{
    display: inline-block;
    height: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 2rem;
    font-size: 1rem;
    border-radius: .5rem;
    border: 1px solid #0070c9;
    color: #0070c9;
    font-weight: 100;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: .2s opacity, .2s color, .2s background-color;
    opacity: .75;

    background-color: #fff;
}

.screen-2__device-name:hover{
    opacity: 1;
}

.screen-2__device-name_selected{
    background-color: #0070c9;
    color: #fff;
    opacity: 1;
}




/*CRASHES*/
.screen-2__crash{
    display: inline-block;
    position: relative;
    height: 8rem;
    width: 8rem;
    border-radius: .5rem;
    /*border: 1px solid #ccc;*/
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: .2s background-color, .2s transform;
    color: #444;

    box-shadow: 0 0 5rem rgba(0,0,0, .15);
}

.screen-2__crash-icon,
.screen-2__crash-icon_selected{
    display: block;
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: calc(100% - 2rem);
    height: 3rem;
    cursor: pointer;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /*background-color: red;*/
}

.screen-2__crash-icon_selected{
    display: none;
}

.screen-2__crash-name{
    display: block;
    position: absolute;
    top: calc(50% + .5rem);
    left: 0;
    width: 100%;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    color: inherit;
    font-size: .8rem;
    cursor: pointer;
}

.screen-2__crash-cost{
    display: block;
    cursor: pointer;
    font-size: .8rem;
    color: #0070c9;
}

/*screen-2__crash_selected*/
.screen-2__crash:hover{
    transform: scale(1.03);
}
.screen-2__crash_selected, 
.screen-2__crash_selected:hover{
    background-color: #000;
    box-shadow: none;
}

.screen-2__crash-check{
    display: block;
    position: absolute;
    top: .5rem;
    right: .5rem;
    height: 1rem;
    width: 1rem;
    background-image: url('../icons/check-icon.svg');
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}

.screen-2__crash > .screen-2__crash-check{
    opacity: 0;
}

.screen-2__crash:active > .screen-2__crash-check,
.screen-2__crash.screen-2__crash_selected > .screen-2__crash-check{
    opacity: 1;
}

.screen-2__crash_selected > .screen-2__crash-name{
    color: #ccc;
}

.screen-2__crash_selected > .screen-2__crash-icon{
    display: none;
}

.screen-2__crash_selected > .screen-2__crash-icon_selected{
    display: block;
}







.screen-2__map-container{
    display: block;
    transform: translateX(-40rem);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 18rem);
    height: 100%;
    left: -5rem;
    transition: .4s transform, .4s opacity;
}

.screen-2__map-container_visible{
    opacity: 1;
    transform: none;
}

.screen-2__order-container{
    display: block;
    position: absolute;
    width: auto;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    transition: .4s transform, .4s opacity, .4s right;
}

.screen-2__order-container_right{
    right: 0;
    transform: translate(0, -50%);
}

#map{
    height: 30rem;
    background-color: #fff; 
    box-shadow: 0 0 5rem rgba(0,0,0, .15);
}





.screen-2__order-description{
    display: none;
    position: relative;
    margin: 0 auto;
    width: 30rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #444;
}

.screen-2__order-description_visible{
    display: block;
}

.screen-2__order{
    height: 30rem;
}


#button_order{
    display: inline-block;
    margin-top: 0;
}



.screen-3{
    height: auto;
    background-color: transparent;
    padding: 4rem;
    text-align: center;

    background-image: url('../images/earpods.jpg');
    background-position: right center;
    background-size: contain;
    background-repeat: no-repeat;

    z-index: 100;
}


.screen-3__title{
    position: relative;
    display: block;
    text-align: center;
    font-size: 2rem;
}

.screen-3__advantages{
    display: inline-block;
    position: relative;
    margin-top: 2rem;
    text-align: center;
}

.screen-3__advantage{
    display: inline-block;
    width: 12.5rem;
    margin: 0 calc(2.5rem/2);
    height: auto;
    border-radius: .5rem;
    /*background-color: rgba(255, 255, 255, .3);*/

    padding: 1rem calc(2.5rem/2);

    /*background-color: #fff;
    box-shadow: 0 0 5rem rgba(0,0,0, .15);*/

    transition: .2s background-color, .2s box-shadow;

}

.screen-3__advantage:hover{
    background-color: #fff;
    box-shadow: 0 0 5rem rgba(0,0,0, .15);
}

.screen-3__advantage:hover .screen-3__advantage-logo{
    transform: scale(1.2);
}

.screen-3__advantage-logo{
    display: block;
    position: relative;
    height: 7rem;
    width: 7rem;
    border-radius: 15rem;
    overflow: hidden;
    /*background-color: rgba(0, 0, 0, .1);*/
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 100%;
    transition: .3s background-size;
    margin: 0 auto;
}

#screen-3-advantage-logo-1{
    background-image: url('../icons/time_black.svg');
    /*background-size: 70%;*/
    background-size: 60%;
}

#screen-3-advantage-logo-2{
    background-image: url('../icons/cost_black.svg');
    /*background-size: 70%;*/
    background-size: 60%;
}

#screen-3-advantage-logo-3{
    background-image: url('../icons/reparing_black.svg');
    /*background-size: 70%;*/
    background-size: 60%;
}

#screen-3-advantage-logo-4{
    background-image: url('../icons/quality_black.svg');
    /*background-size: 75%;*/
    background-size: 65%;
}

.screen-3__advantage-title{
    display: block;
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.3rem;
}

.screen-3__advantage-desc{
    font-size: .9rem;
    opacity: 0;
    transition: .2s transform, .2s opacity;
    transform: translateY(-100%);
}

.screen-3__advantage:hover > .screen-3__advantage-desc{
    opacity: 1;
    transform: translateY(0);
}




.screen-4{
    height: auto;
    background-color: #fff;
    padding: 4rem;
    text-align: center;


    background-image: url('../images/ipad-gm.png');
    background-position: left bottom;
    background-size: 30rem;
    background-repeat: no-repeat;
}


.screen-4__title{
    position: relative;
    display: block;
    text-align: center;
    font-size: 2rem;
}

.screen-4__comments{
    display: block;
    position: relative;
    margin: 0 auto;
    width: 60rem;
    height: 500px;
    margin-top: 2rem;
}

.screen-4__comments_side{
    position: relative;
    display: inline-block;
    width: 25rem;
    vertical-align: top;
    padding: 1rem 2rem;
}


.screen-4__comment{
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    text-align: left;
    margin-bottom: 2rem;
    background: #fff;
    box-shadow: 0 0 5rem rgba(0,0,0, .15);
    padding: 1rem;
    border-radius: 1rem;
    transition: .2s transform;
    cursor: pointer;
}

.screen-4__comment:hover{
    /*background-color: #000;*/
    transform: scale(1.03);
}

.screen-4__comment-left,
.screen-4__comment-right{
    display: inline-block;
    position: relative;
    width: 4rem;
    vertical-align: top;
}

.screen-4__comment-left{
    height: 4rem;
    margin-right: .5rem;
    border-radius: 100%;
    background-color: #ccc;
    overflow: hidden;
}

.screen-4__comment-right{
    width: 14.3rem;
}

.screen-4__comment-link{
    display: block;
    position: relative;
    margin-bottom: .5rem;
    color: #0070c9;
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
}

.screen-4__comment-text{
    border-radius: 1rem;
    color: #000;
    font-size: .8rem;
    cursor: pointer;
}

.screen-4__comment:hover .screen-4__comment-text{
    /*color: #fff;*/
}

.screen-4__comment-img{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-image: url('../images/test-user.jpg');
    border-radius: 100%;
    overflow: hidden !important;
    cursor: pointer;
}


.modal-window{
    display: block;
    position: fixed;
    width: 30rem;
    height: auto;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 10rem rgba(0,0,0, .25);
    z-index: 99999;

    top: 50%;
    left: 50%;
    padding: 3rem;
    transform: translate(-50%, 200rem);
    transition: .5s transform;

    text-align: center;
}

.modal-window_open{
    transform: translate(-50%, -50%);
}


.modal-window__close-btn{
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
}

.modal-window__main-title{
    display: block;
    position: relative;
    width: 100%;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
}

.modal-window__content{
    display: block;
    position: relative;
    width: 100%;
    margin-top: 1rem;
    font-size: 1.2rem;
    text-align: center;
}


.modal-window__btn{
    display: inline-block;
    height: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 2rem;
    font-size: 1rem;
    border-radius: .5rem;
    border: 1px solid #0070c9;
    color: #0070c9;
    font-weight: 100;
    margin-top: 2rem;
    cursor: pointer;
    transition: .2s opacity, .2s color, .2s background-color;
    opacity: .75;
    background-color: #fff;
}

.modal-window__btn:hover{
    background-color: #0070c9;
    color: #fff;
    opacity: 1;
}












